.profile {
  height: 150px !important;
  position: absolute !important;
  width: 30%;
  padding: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.heading {
  height: 70vh;
  background-color: #867070 !important;
  background-image: url("images/background1.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  color: #0e8388 !important;
}

.heading img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #0e8388;
}
.works {
  height: max-content !important;
  background-image: url("images/background.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  color: #dfdfdf;
}

.works h1 {
  color: #2e4f4f;
}

.works .actt {
  box-shadow: rgba(0, 0, 0, 0.178) 0px 19px 38px,
    rgba(255, 255, 255, 0.22) 0px 15px 12px !important;

  /* From https://css.glass */
  background: #2c333352 !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(2.9px) !important;
  -webkit-backdrop-filter: blur(2.9px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.actt video,
.actt img {
  width: 100%;
}
.actt .container,
.underLineWork {
  height: 5px;
  width: 70%;
  background-color: #0e8388 !important;
  border-radius: 5px;
}

#sem {
  background-color: #0e8388;
  font-weight: bold;
  border: #0e8388 solid 2px;
  outline: none;
}
